{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h2>Runners</h2>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a class="btn btn-primary" href="/runners/create" role="button">Créer</a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#id</th>
          <th scope="col">Website</th>
          <th scope="col">Checkers</th>
          <th scope="col">A fonctionné</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for runner in runners %}
        <tr>
          <th scope="row"> {{runner.id}}</th>
          <td>{{runner.websites}} {{ ' ' }}<a class="link" href="{{runner.websites.url}}">{{runner.websites.url}}</a></td>
          <td>{% for checker in runner.checkers.all %} {{checker.check}} {{ ' ' }} {% endfor %}</td>
          <td>
            {% if runner.isSuccess %}
              ✅
            {% else %}
              ❌
            {% endif %}
          </td>
          <td>{{runner.created}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}