{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h2>Websites</h2>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a class="btn btn-primary" href="/websites/create" role="button">Créer</a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#id</th>
          <th scope="col">Nom</th>
          <th scope="col">Url</th>
          <th scope="col">Date de création</th>
          <th scope="col" width="150"></th>
        </tr>
      </thead>
      <tbody>
        {% for website in websites %}
        <tr>
          <th scope="row"> {{website.id}}</th>
          <td>{{website.name}}</td>
          <td><a class="link" href="{{website.url}}">{{website.url}}</a></td>
          <td>{{website.created}}</td>
          <td>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a class="btn btn-light btn-sm" href="/websites/{{website.id}}">Mettre à jour</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}